@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #29ABE2;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; 
}
body {
  overflow-y: hidden;
}

input:disabled, textarea:disabled {
  cursor: not-allowed;
}
